.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em 2em;
    margin-bottom: 1em;

    a {
        text-decoration: none;
    }

    a:hover img {
        opacity: 80%;
        transition: all 0.2s ease-in-out;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 1em;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em 1.5em;
    }
}

@media (max-width: 767px) {
    .gallery-container {
        grid-template-columns: 1fr;
        gap: 1em 1em;
    }
}
