.tech-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em 2em;
    margin-bottom: 1em;

    h1,
    p {
        grid-column: span 3;
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
    }

    a {
        color: $font-alternative-color;
        text-decoration: none;
    }

    a:hover h2,
    a:hover i {
        color: $accent-color;
    }

    i {
        font-size: 2rem;
        align-self: center;
    }

    .tech {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 6em;
        padding: 1em 1.5em;
        border-top: 3px solid $accent-color;
        background-color: $background-alternative-color;
    }

    .tech h2 {
        align-self: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.tech-article {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;

    .sidebar {
        width: 20%;
        min-width: 150px;
        margin-right: 1em;
        margin-top: 1em;
    }

    .sidebar ul {
        list-style-type: none;
        padding-left: 0;
    }

    .sidebar ul li {
        margin: 10px 0;
        display: block;
    }

    .article {
        width: 100%;
        padding-left: 0;
    }

    a:hover {
        color: $accent-color;
    }
}

@media (max-width: 900px) {
    .tech-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .tech-container h2,
    .tech-container p {
        grid-column: span 2;
    }
}

@media (max-width: 767px) {
    .tech-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .tech-container h2,
    .tech-container p {
        grid-column: span 1;
    }

    .tech-article .sidebar {
        display: none;
    }
}
