$font-color: #e7c3d1;
$font-alternative-color: #fbd0e0;
$accent-color: #f0abc5;
$background-color: #312429;
$background-alternative-color: #221e20;
$code-border-color: #583844;
$code-background-color: #312429;
$code-font-color: #fee4ee;
