{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    
    <div class="main" role="main">
        <div class="tech-container">
            {{ content }}

            {% for page in pages("technology") %}
                <a href="{{ page.url }}">
                    <div class="tech">
                        <h2>{{ page.title }}</h2>
                        <i class="fas fa-chevron-circle-right"></i>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
