$font-color: #444;
$font-alternative-color: #222;
$accent-color: #f0abc5;
$background-color: #f5f5f5;
$background-alternative-color: #f5f5f5;
$code-border-color: #ccc;
$code-background-color: #f5f5f5;
$code-font-color: #444;
